{% extends 'layout.html' %}

{% block body %}
    <div class="row ml-2">
        {% for offer in shop_offers %}
            <div class="col-sm-4 {% if loop.index > 3 %} mt-5 {% endif %}">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{{ offer.image }}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{ offer.name }}</h5>
                    <p class="card-text">{{ offer.description }}</p>
                    <form method="post" action="">
                        <input type="submit" name="{{ offer.id }}" class="btn btn-primary" value="Buy">
                    </form>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>

    <script>
        $(document).ready(function() {
            {% if modalData != none %}
                $("#shopModal").modal('show');
            {% endif %}
        });
    </script>

    <div class="modal fade" id="shopModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">{{ title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <form method="post" action="">
              <div class="modal-body">
                  {% from 'includes/_formhelpers.html' import render_field %}
                  <center>
                      <img src="{{ image }}" width="250" height="250">
                  </center>
                  <br><br>
                  <p>Send an SMS of <b>{{ sms_text }}</b> to <b>{{ sms }}</b></p>
                  <p>It will cost you <b>{{ prices[0] }} zł</b> (<b>{{ prices[1] }} zł</b> with taxes)</p>
                  <div class="form-group">
                        {{ render_field(form.name, class_="form-control") }}
                  </div>
                  <div class="form-group">
                      {{ render_field(form.code, class_="form-control") }}
                  </div>
                  <div class="form-group">
                      {{ render_field(form.voucher, class_="form-control") }}
                  </div>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" name="{{ offerId }}" value="Finalize">
              </div>
            </form>
        </div>
      </div>
    </div>
{% endblock %}