<h1 class="display-4">Account</h1>
<p class="lead">Change your account settings here</p>
<hr class="my-4">
{% from 'includes/_formhelpers.html' import render_field %}
<form method="post" action="">
    <div class="form-group">
        {{ render_field(form.minecraft_name, class_="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.email, class_="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.current_password, class_="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.new_password, class_="form-control") }}
    </div>
    <p>
        <input type="submit" class="btn btn-primary" value="Save">
    </p>
</form>
