<h1 class="display-4">Vouchers</h1>
<p class="lead">Generate vouchers</p>
<hr class="my-4">
{% from 'includes/_formhelpers.html' import render_field %}
<form method="post" action="" enctype="multipart/form-data">
    <div class="form-group">
        {{ render_field(form.amount, class_="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.uses, class_="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.id, class_="form-control") }}
    </div>
    {{ form.csrf_token }}
    <p>
        <input type="submit" class="btn btn-primary" value="Generate">
    </p>
</form>
<p>Vouchers</p>
<ul class="list-group list-group-flush">
    {% for voucher in vouchers %}
        <li class="list-group-item">{{ voucher }}</li>
    {% endfor %}
</ul>
